.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1%;
}
input {
  padding: 1%;
  width: 50%;
}
.App {
  background: rgb(11, 167, 179);
  padding: 2em;
  margin: 0 auto;
  margin-bottom: 10%;
}
.header {
  font-family: fantasy;
  text-align: center;
  font-variant-caps: petite-caps;
  font-size: xxx-large;
  line-height: 1rem;
}
form {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

input[type="search"] {
  border: none;
  whitespace: wrap;
  border-radius: 5px 5px 5px 5px;
  background: #e9e9e9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.35em 0.75em;
  border: none;
  font-size: 1.1em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
  flex: 2 0 250px;
}

input[type="search"]:focus {
  background: Thistle;
  color: white;
  letter-spacing: 0.1em;
  transition: background 400ms ease-in-out;
  outline: none;
}

button:hover {
  background: skyblue;
}

@media (max-width: 450px) {
  body {
    width: 100%;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
}
